/* Navbar */
.logos {
    padding: 1%;
}

.btn {
    padding: 5px;
}

.info .position {
    color: black;
}

.info .team-social .fa {
    color: black;
    margin: 5px;

}

.event-details {
    padding-left: 2%;
}

.ftco-gallery {
    padding: 0 0 !important;
    padding-top: 5% !important;
    position: relative;
}

.ftco-footer {
    font-size: 16px;
    padding: 0 0 !important;
    padding-top: 5% !important;
    background: #252525;
}

.modal-body{
    padding: 0 !important;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .remove{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
}